/* You can add global styles to this file, and also import other style files */

html { 
    background: url("/assets/dotBack.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.content_layer{
    position: absolute;
}
.prxlx_lyr_1{
    position: fixed;
    background: url("/assets/blueDot.png") no-repeat 0px 50px;
    width: 100%;
    height: 1000px;
}
